{"shown_records":1,"total_records":1,"limit":2000,"skip":0,"nextpage":false,"proxies":[{"alive":true,"alive_since":1777280601.23322,"anonymity":"elite","average_timeout":2633.564437477725,"first_seen":1769019489.9111943,"ip_data":{"as":"AS216071 SERVERS TECH FZCO","asname":"VDSINA","city":"Amsterdam","continent":"Europe","continentCode":"EU","country":"Netherlands","countryCode":"NL","district":"","hosting":false,"isp":"Servers Tech Fzco","lat":52.3759,"lon":4.8975,"mobile":false,"org":"Servers Tech Fzco","proxy":false,"regionName":"North Holland","status":"success","timezone":"Europe\/Amsterdam","zip":"1012"},"ip_data_last_update":1776875830,"last_seen":1777282535.9785118,"port":11080,"protocol":"socks5","proxy":"socks5:\/\/146.103.121.43:11080","ssl":true,"timeout":66.60199165344238,"times_alive":5926,"times_dead":2776,"uptime":68.09928752011032,"ip":"146.103.121.43"}]}