# Binaries
bin/
# Local development
.env
*.log

# Data dumps and temporary files
dump/
testdata/
.DS_Store

# Go dependencies and artifacts
vendor/
*.test
*.exe
*.prof
*.json

# Docker
.docker/
.idea/
.dumperrc