# Binaries
bin/
cmd/collector/collector
cmd/fetcher/fetcher
cmd/monitor/monitor
cmd/parser/parser
cmd/proxy-manager/proxy-manager

# Local development
.env
*.log

# Data dumps and temporary files
dump/
testdata/
.DS_Store

# Go dependencies and artifacts
vendor/
*.test
*.exe
*.prof

# Docker
.docker/
.idea/
